ivanti.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 16,
                "triggerAtMinute": 25
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -784,
          128
        ],
        "id": "1288d37e-ecbe-40ac-b4c7-eafb9d5c0e24",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://success.serviceitplus.com/HEAT/api/odata/businessobject/Tasks?$select=Subject,ParentObjectDisplayID,AssignmentID,ParentLink_Category,ActualEffort,Status",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$top",
                "value": "100"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "rest_api_key=78D033FDB3D14F0FB4C66261B4FAA3AF"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "parameters": {
                  "parameters": [
                    {
                      "name": "$skip",
                      "value": "={{ $pageCount * 100 }}"
                    }
                  ]
                }
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -544,
          128
        ],
        "id": "9f17f5f7-c551-46d6-aff9-d44ebbaa675b",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "fieldToSplitOut": "value",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -288,
          128
        ],
        "id": "659ecd9d-8f28-4a3e-a913-ecfedb1e3d3a",
        "name": "Split Out"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"SUPPORT-ID\": \"{{ $node[\"Split Out\"].json.AssignmentID }}\",\n  \"Task Name\": \"{{ $node[\"Split Out\"].json.Subject }}\",\n  \"Category\": \"{{ $node[\"Split Out\"].json.ParentLink_Category }}\",\n  \"Actual Effort\": \"{{ $node[\"Split Out\"].json.ActualEffort }}\",\n  \"Ticket Number\": \"{{ $node[\"Split Out\"].json.ParentObjectDisplayID }}\",\n  \"Company Name\": \"{{ $json.value[0]._CustomerCompanyName || $json.value[0].OrganizationUnitID }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          96
        ],
        "id": "72b92a83-6f00-4129-ae92-a286e62af80d",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ParentLink_Category }}",
                      "rightValue": "Incident",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a4dd4454-947d-4bee-b0d4-fc1614be59b0"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ccd27fdc-0c80-43e6-b083-09c5f632ddf3",
                      "leftValue": "={{ $json.ParentLink_Category }}",
                      "rightValue": "ServiceReq",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -32,
          128
        ],
        "id": "e7c250f4-468d-4933-9b61-1160399bc5f9",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "=https://success.serviceitplus.com/HEAT/api/odata/businessobject/incidents?$filter=IncidentNumber eq {{ $json.ParentObjectDisplayID }}&$select=_CustomerCompanyName",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$top",
                "value": "100"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "rest_api_key=78D033FDB3D14F0FB4C66261B4FAA3AF"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          176,
          32
        ],
        "id": "caee06a7-6ad5-486e-a881-3b792bc0385b",
        "name": "Incident"
      },
      {
        "parameters": {
          "url": "=https://success.serviceitplus.com/HEAT/api/odata/businessobject/ServiceReqs?$filter=ServiceReqNumber eq {{ $json.ParentObjectDisplayID }} &$select=OrganizationUnitID",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$top",
                "value": "100"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "rest_api_key=78D033FDB3D14F0FB4C66261B4FAA3AF"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          176,
          208
        ],
        "id": "44d0d328-532a-434f-a800-0a0c36a240a5",
        "name": "ServiceReq"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1uYHGyAi0a2GriocwAl3FD3OI3w4pUqXqGNLLKrwq-w4",
            "mode": "list",
            "cachedResultName": "OPS Central Task Registry",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYHGyAi0a2GriocwAl3FD3OI3w4pUqXqGNLLKrwq-w4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 784337078,
            "mode": "list",
            "cachedResultName": "Ivanti",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYHGyAi0a2GriocwAl3FD3OI3w4pUqXqGNLLKrwq-w4/edit#gid=784337078"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "SUPPORT-ID"
            ],
            "schema": [
              {
                "id": "SUPPORT-ID",
                "displayName": "SUPPORT-ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Task Name",
                "displayName": "Task Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company Name",
                "displayName": "Company Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ticket Number",
                "displayName": "Ticket Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Actual Effort",
                "displayName": "Actual Effort",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Category",
                "displayName": "Category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          96
        ],
        "id": "b9b2eadc-7381-43f7-97bf-0a9b4bd1aae9",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "nN7Zh4cTWuNR32rk",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Incident",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ServiceReq",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Incident": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ServiceReq": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "d01a6a8c11890acdbdc9cdddc68985eaa48ca0323d040fb817e6a87a3e72b287"
    }
  }